<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia Perguntas</title>
</head>
<body>
    <h1> Guia Perguntas</h1>
    <hr> </hr>
    <p> Nome:  <%= nome %> </p>
    <p> Time:  <%= time %> </p>

    <% if(msg == true){ %>
        <h3> Isso é um erro! </h3> 
        <%} else { %>

            <h3> Sem erros!</h3>
            <%}%>
    
</body>
</html>